/* Chatbot container */
.chatbot {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    border-radius: 10px;
    background-color: #f0f0f0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
  }
  
  /* Chatbot messages container */
  .chatbot-messages {
    max-height: 200px; /* Adjust as needed */
    overflow-y: auto;
    padding: 10px;
  }
  
  /* Individual chat message */
  .chatbot-message {
    background-color: #d3d3d3;
    color: #000;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 5px;
  }
  
  /* Chatbot input field and send button container */
  .chatbot-input{
    margin: 10px;
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  /* Input field for typing messages */
  .chatbot-input input[type="text"] {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    font-size: 16px;
    margin-top: 20px;
  }
  
  /* Send button */
  .chatbot-input button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .chatbot-input button:hover {
    background-color: #0056b3;
  }
  
  /* Chatbot icon */
  .chatbot-icon {
    position: absolute;
    display: flex;
    border-radius: 50%;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 1000;
    position: fixed;
  }
  